@charset 'utf-8';
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* ----全体のスタイル --------------------------------------------*/

* {
  box-sizing: border-box;
}

/* bodyの背景色 */
body {
  background-color: gray;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* 画面幅調整 */
.container {
  width: 375px;
  min-height: 900px;
  margin: 0 auto;
  background: #fff;
}

.main_contents {
  padding: 24px;
}

/* リンクのスタイルを初期化 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #454545;
}

/* リストの点を消す */
li {
  list-style: none;
}

/* ボタンのカーソル設定 */
.btn {
  cursor: pointer;
}
