@charset 'utf-8';

/* ----全体のスタイル --------------------------------------------*/
* {
  box-sizing: border-box;
}

/* bodyの背景色 */
body {
  background-color: gray;
}

/* 画面幅調整 */
#wrapper_y {
  width: 375px;
  min-height: 900px;
  margin: 0 auto;
  background: #fff;
}

/* メイン画面のパディング */
.main_contents {
  padding: 24px;
}

/* リンクのスタイルを初期化 */
a:link,
a:visited,
a:hover, 
a:active {  
    text-decoration: none;  
    color: #454545;  
} 

/* リストの点を消す */
li {
  list-style: none;
}

/* ボタンのカーソル設定 */
.btn {
  cursor: pointer;
}

/* -----固定フッター部分 --------------------------------------------*/

/* フッター全体 */
.footer_y {
  position: fixed;
  bottom: 0;
  z-index: 10px;
}

#footer_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  width: 375px;
}

/* フッターボタン */
.footer_btn {
  border: 1px solid #000;
  height: 64px;
  width: 25%;
}

/* ----room_list.phpのスタイル-------------------------------------- */

/* ルーム一覧表示部分 */
#room_section {
  margin-top: 48px;
}



/* ----member_list.phpのスタイル------------------------------------ */

