@charset 'utf-8';

/* ----全体のスタイル --------------------------------------------*/
* {
  box-sizing: border-box;
}

/* bodyの背景色 */
body {
  background-color: gray;
}

/* 画面幅調整 */
#wrapper_y {
  width: 375px;
  min-height: 900px;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

/* メイン画面のパディング */
.main_contents {
  padding: 24px;
}

/* リンクのスタイルを初期化 */
a:link,
a:visited,
a:hover, 
a:active {  
    text-decoration: none;  
    color: #454545;  
} 

/* リストの点を消す */
li {
  list-style: none;
}

/* ボタンのカーソル設定 */
.btn {
  cursor: pointer;
}

/* -----固定フッター部分 --------------------------------------------*/

/* フッター全体 */
.footer_y {
  position: fixed;
  bottom: 0;
  z-index: 10;
}

#footer_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  width: 375px;
}

/* フッターボタン */
.footer_btn {
  border: 1px solid #000;
  height: 64px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ホームボタン */
.la-home {
  font-size: 56px;
}

/* -----ヘッダー共通部分 --------------------------------------------*/

/* ヘッダー部分 */
header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* メインタイトル */
#main_title_y {
  font-size: 24px;
}

/* ハンバーガーメニューボタン */
.la-bars {
  font-size: 48px;
}

/* プロフィール画像 */
.profile_img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
}

/* --ハンバーガーメニューのスタイル --*/

/* 背景 */
#mask {
  height: 100%;
  width: 375px;
  position: fixed;
  background-color: rgba(0,0,0, 0.6);
  z-index: 11;
}

/* 閉じるボタン */
#clese_btn {
  font-size: 48px;
  color: #fff;
  padding: 12px;
}

/* メニュー本体 */
#menu_contents {
  background-color: #fff;
  position: absolute;
  width: 250px;
  min-height: 800px;
  right: 0;
  z-index: 12;
}

/* アカウント表示部分 */
#my_acount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

/* メニューリスト部分 */
#menu_list {
  margin-top: 48px;
  text-align: center;
}

/* メニューリストのスペース調整 */
#menu_list li {
  margin-bottom: 16px;
}

/* ログアウトボタン部分 */
#logout_btn {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

/* ログアウトボタン本体 */
#logout_btn div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #454545;
  border-radius: 10px;
  height: 48px;
  width: 120px;
}

/* ----room_list.phpのスタイル-------------------------------------- */

/* ----検索部分 ----------*/

#main_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}

/* 検索欄 */
#search {
  width: 200px;
  height: 36px;
  font-size: 16px;
}

/* ルーム追加用プラスボタン */
#add_btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:gray;
  color: #fff;
  font-size: 24px;
}

/* ルーム一覧表示部分 */
#room_section {
  margin-top: 48px;
}

/* ルーム名 */
.now_room {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* -----room_inputのスタイル ---------------------------------------*/

/* ルーム名入力欄 */
#create_room {
  width: 250px;
  height: 36px;
  font-size: 16px;
}

/* ルームタイプ検索部分 */
#select_type {
  margin-top: 32px;
  font-size: 24px;
}

/* ルーム作成ボタン */
#room_create_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #454545;
  border-radius: 10px;
  height: 48px;
  width: 120px;
  margin: 48px auto;
}

/* ----member_list.phpのスタイル------------------------------------ */

/* ホストユーザー表示部分 */
#host_view {
  margin-top: 24px;
}

/* ホストユーザー情報 */
#host_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkin_member{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 参加メンバー一覧部分 */
#join_member {
  margin-top: 32px;
}

/* 入室ボタン */
#join_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #454545;
  border-radius: 10px;
  height: 48px;
  width: 120px;
  margin: 24px auto;
}

